RewriteEngine On
RewriteRule ^products/?$ products.php [NC,L]
RewriteRule ^products/([0-9]+)/?$ products.php?id=$1 [NC,L]
RewriteRule ^clients/?$ clients.php [NC,L]
RewriteRule ^clients/([0-9]+)/?$ clients.php?id=$1 [NC,L]
RewriteRule ^invoices/?$ invoices.php [NC,L]