RewriteEngine On
RewriteRule ^students/?$ students_controller.php [NC,L]
RewriteRule ^students/([0-9]+)/?$ students_controller.php?id=$1 [NC,L]
RewriteRule ^professor/?$ professors_controller.php [NC,L]
RewriteRule ^professor/([0-9]+)/?$ professors_controller.php?id=$1 [NC,L]